<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>About us</title>
</head>
<body>
  <div id="page" class=""><!-- mobile-nav-opened -->
    <nav class="mobile-nav list-group">
      <a class="mobile-nav-link list-group-item list-group-item-action" href="index.hbs">Home</a>
      <a class="mobile-nav-link list-group-item list-group-item-action" href="howto.hbs">How To?</a>
      <a class="mobile-nav-link list-group-item list-group-item-action" href="aboutus.hbs">Über&nbsp;uns<span class="sr-only">(current)</span></a>
      <a class="mobile-nav-link list-group-item list-group-item-action" href="contact.hbs">Kontakt</a>
    </nav>
    <header class="page-header">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
          <a class="navbar-brand"></a>
          <button id="toggle-mobile-nav" class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="index.hbs">Home</a>
              <a class="nav-item nav-link" href="howto.hbs">How To?</a>
              <a class="nav-item nav-link active" href="aboutus.hbs">Über&nbsp;uns<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="contact.hbs">Kontakt<span class="sr-only">(current)</span></a>
            </div>
          </div>
        </nav>
        <div class="jumbotron header-jumbotron text-center d-flex flex-column justify-content-center align-items-center">
          <h2 class="display-6"></h2>
          <h1 class="display-5"></h1>
          
        </div>
      </div>
    </header>
    <section class="aboutus" id="aboutus">
        <div class="container">
          <h3 class="text-center">Über uns</h3>
          <p class="text-center text-muted font-italic mb-5">Das ist unsere Geschichte.</p>

          <div class="aboutus-list">
            <div class="row">
              <div class="col-6 col-sm-3 col-md-2 offset-3 offset-sm-0 order-1 order-md-2">
                <img class="img-fluid mb-2 aboutus-image" src="../../images/idee.jpg" alt="Die Idee" />
              </div>
              <div class="col-12 col-sm-9 col-md-5 order-2 order-md-1">
                <h5 class="h6 text-center text-sm-left mb-1 text-md-right">März 2024</h5>
                <h6 class="text-center text-sm-left text-md-right">Unsere Anfänge</h6>
                <p class="text-center text-muted text-sm-left text-md-right">Anfang März enstandt
                  Die Idee für Swipe4Jobs die Unzulänglichkeiten herkömmlicher Jobbörsen erlebte.
                  Ich erkannte die Notwendigkeit einer modernen und effizienten Plattform, die den Bewerbungsprozess vereinfacht und präzise auf die Bedürfnisse von Kandidaten und Arbeitgebern eingeht.
                  Durch intensive Recherche und Analyse des aktuellen Marktes sowie der Bedürfnisse von Jobsuchenden und Unternehmen entwickelte sich die Vision für Swipe4Jobs.
                  Die Inspiration kam auch aus dem Erfolg ähnlicher Matching-Plattformen in anderen Bereichen, wie Dating-Apps, die erfolgreich Menschen basierend auf ihren Präferenzen zusammenbringen.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-3 col-md-2 offset-3 offset-sm-0 offset-md-5 order-1 order-sm-2 order-md-1">
                <img class="img-fluid mb-2 aboutus-image mt-3 mt-sm-0" src="../../images/umsetzung.jpg" alt="Umsetzung" />
              </div>
              <div class="col-12 col-sm-9 col-md-5 order-2 order-sm-1 order-md-2">
                <h5 class="h6 text-center text-sm-right mb-1 text-md-left">Seit mitte März 2024</h5>
                <h6 class="text-center text-sm-right text-md-left">Umsetzung</h6>
                <p class="text-center text-muted text-sm-right text-md-left">
                  Aktuell arbeite ich intensiv daran, Swipe4Jobs von der Idee zur Realität zu machen, indem ich ein engagiertes Team von Entwicklern und Experten zusammenstelle.
                  Wir führen regelmäßige Brainstorming-Sitzungen durch, um neue Funktionen zu entwickeln und vorhandene Konzepte zu verbessern.
                  Ich hole mir Inspiration, indem ich Trends in der Tech- und Job-Marktbranche verfolge und mich mit ähnlichen Plattformen auseinandersetze, um bewährte Praktiken zu identifizieren.
                  Zusätzlich führe ich Gespräche mit potenziellen Nutzern, um ihre Bedürfnisse und Wünsche besser zu verstehen und sie in die Entwicklung einzubeziehen.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-3 col-md-2 offset-3 offset-sm-0 order-1 order-md-2">
                <img class="img-fluid mb-2 aboutus-image" src="../../images/Vorfreude.jpg" alt="Vorfreude" />
              </div>
              <div class="col-12 col-sm-9 col-md-5 order-2 order-md-1">
                <h5 class="h6 text-center text-sm-left mb-1 text-md-right">Soon!</h5>
                <h6 class="text-center text-sm-left text-md-right">Veröffentichung</h6>
                <p class="text-center text-muted text-sm-left text-md-right">Die Vorfreude auf den Release von Swipe4Jobs steigt täglich, wenn ich sehe, wie das Produkt Form annimmt und immer weiter verbessert wird.
                  Die positiven Rückmeldungen von Testern und potenziellen Nutzern verstärken meine Vorfreude und bestärken mich darin, dass Swipe4Jobs einen wirklichen Mehrwert bieten wird.
                  Die baldige Planung des Launch-Events und die Vorbereitung auf die Reaktionen der Öffentlichkeit machen mich aufgeregt und motiviert zugleich.
                  Die Vorstellung, wie Swipe4Jobs das Leben von Jobsuchenden und Unternehmen vereinfachen wird, lässt mich kaum abwarten, bis der Tag des Releases endlich gekommen ist.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="team" id="team">
        <div class="container">
          <h3 class="text-center">Unser Team</h3>
          <p class="text-center text-muted font-italic">Das hier ist unser cooles Team!</p>
        
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="row">
                <div class="col-6 offset-3 col-md-8 offset-md-2">
                  <img class="img-fluid team-image mb-2" src="../../images/Ich.jpg" alt="Marcus Scherdel" />
                </div>
              </div>
              <h5 class="h6 text-center">Marcus Scherdel</h5>
              <h6 class="text-center text-muted">"Geschäftsführer"</h6>
              <div class="d-flex justify-content-center">
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="row">
                <div class="col-6 offset-3 col-md-8 offset-md-2">
                  <img class="img-fluid team-image mb-2" src="../../images/Jasmin Scherdel.png" alt="Jasmin Scherdel" />
                </div>
              </div>
              <h5 class="h6 text-center">Jasmin A. Scherdel</h5>
              <h6 class="text-center text-muted">Unternehmensentwicklung u. Qualitätsmanager</h6>
              <div class="d-flex justify-content-center">
                <a class="team-social-media d-flex flex-column justify-content-center" href="https://de.linkedin.com/in/jasmin-a-scherdel-6b5234206">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="row">
                <div class="col-6 offset-3 col-md-8 offset-md-2">
                  <img class="img-fluid team-image mb-2" src="/images/Vorfreude.jpg" alt="Justine Scherdel" />
                </div>
              </div>
              <h5 class="h6 text-center">Justine Scherdel</h5>
              <h6 class="text-center text-muted">Grafik u. Design</h6>
              <div class="d-flex justify-content-center">
              </div>
            </div>
          </div>
        </div>
    </section>
    <script src="/jquery-3.7.1.js"></script>
    <script src="/nav.js"></script>
    <script src="https://kit.fontawesome.com/aedcf8330f.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.min.css"></script>
</body>
</html>