<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="index.css" />
    
    <title>Titel</title>
  </head>
  <body>
    <div id="page" class=""><!-- mobile-nav-opened -->
      <nav class="mobile-nav list-group">
        <a class="mobile-nav-link list-group-item list-group-item-action" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="mobile-nav-link list-group-item list-group-item-action" href="/howto.hbs">How To?</a>
        <a class="mobile-nav-link list-group-item list-group-item-action" href="/aboutus.hbs">Über&nbsp;uns</a>
        <a class="mobile-nav-link list-group-item list-group-item-action" href="/contact.hbs">Kontakt</a>
      </nav>
      <header class="page-header">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand"></a>
            <button id="toggle-mobile-nav" class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/howto.hbs">How To?</a>
                <a class="nav-item nav-link" href="/aboutus.hbs">Über&nbsp;uns</a>
                <a class="nav-item nav-link" href="/contact.hbs">Kontakt</a>
              </div>
            </div>
          </nav>
          <div class="jumbotron header-jumbotron text-center d-flex flex-column justify-content-center align-items-center">
            <h2 class="display-6"></h2>
            <h1 class="display-5"></h1>
            
          </div>
        </div>
      </header>
      <section class="services" id="services">
        <div class="container">
          <h3 class="text-center">Willkommen bei Swipe4Jobs</h3>
          <p class="text-center text-muted font-italic mb-5">Die Zukunft der Job-Suche ist da!</p>

          <div class="row">
            <div class="col-sm">
              <div class="services-icon"><i class="fa-solid fa-person-dress"></i><i class="fa-solid fa-arrow-right"></i></div>
              <h4 class="text-center">Jobsuche</h4>
              
              <p class="text-center text-muted font-italic">Erstelle dein Profil und lass uns genau den richtigen Job für dich finden!</p>
            </div>

            <div class="col-sm">
              <div class="services-icon"><i class="fa-solid fa-handshake"></i></div>
              <h4 class="text-center">Match!</h4>
              <p class="text-center text-muted font-italic">Unser suchalgorytmus sucht nach dem Perfeckten Match zwichen Arbeitnehmer und Arbeitgeber</p>
            </div>

            <div class="col-sm">
              <div class="services-icon"><i class="fa-solid fa-arrow-left"></i><i class="fa-regular fa-building"></i></i></div>
              <h4 class="text-center">Stellenangebot</h4>
              <p class="text-center text-muted font-italic">Als Arbeitgeber erstellen Sie ihre Jobanzeige und vernetzen sich direkt mit potenziellen Bewerbern.</p>
            </div>
          </div>
        
      <div class="buttons">
        <div class="row align-items-center">
          <div class="col">
            <a class="register_button" href="registration.hbs">Jetzt Regestrieren</a>
          </div>
          <div class="col-2">
            <a class="login_button" href="login.hbs">Login</a>
          </div>
        </div>
      </div>

      <div class="container">
        <h3 class="text-center mb-5">Warum Swipe4Jobs?</h3>
          <p class="text-center text-muted font-italic">Sind Sie es leid, stundenlang durch endlose Listen von Stellenanzeigen zu scrollen, nur um festzustellen,</p>
          <p class="text-center text-muted font-italic">dass keine davon wirklich zu Ihnen passt? Haben Sie genug von komplizierten Bewerbungsprozessen,</p> 
          <p class="text-center text-muted font-italic">die mehr Zeit in Anspruch nehmen, als sie es wert sind? Dann ist Swipe4Jobs genau das Richtige für Sie!</p>

          <p class="text-center text-muted font-italic">Swipe4Jobs ist keine gewöhnliche Jobbörse - es ist eine innovative Plattform, die den Bewerbungsprozess revolutioniert und Ihnen hilft, </p>
            <p class="text-center text-muted font-italic">Ihren Traumjob mühelos zu finden. Aber was macht Swipe4Jobs so einzigartig?</p>
            
            <p class="text-center text-muted font-italic">Präzises Matching: Dank unserer fortschrittlichen Matching-Technologie müssen Sie nicht mehr aktiv nach Jobs suchen.</p>
            <p class="text-center text-muted font-italic">Unser intelligenter Algorithmus analysiert Ihre Fähigkeiten, Präferenzen und Anforderungen und bringt Sie mit den passenden Arbeitgebern zusammen. </p>
            <p class="text-center text-muted font-italic">Das bedeutet, dass Sie nur die Stellenangebote sehen, die wirklich zu Ihnen passen.</p>
            
            <p class="text-center text-muted font-italic">Einfacher Bewerbungsprozess: Vergessen Sie komplizierte Bewerbungsformulare und endlose Schreibarbeiten.</p>
            <p class="text-center text-muted font-italic">Mit Swipe4Jobs können Sie sich mit nur einem Wisch auf interessante Stellen bewerben. </p>
            <p class="text-center text-muted font-italic">Durch den intuitiven Swipe-Mechanismus wird der Bewerbungsprozess zu einem spielerischen Erlebnis, das Ihnen Zeit und Mühe erspart.</p>
            
            <p class="text-center text-muted font-italic">Kontinuierliches Lernen: Swipe4Jobs lernt von Ihren Vorlieben und passt seine Vorschläge kontinuierlich an Ihre Bedürfnisse an. </p>
            <p class="text-center text-muted font-italic">Je mehr Sie die Plattform nutzen, desto genauer werden die Jobvorschläge. </p>
            <p class="text-center text-muted font-italic">So erhalten Sie immer aktuelle und relevante Angebote, die Ihren Karrierezielen entsprechen.</p>
            
            <p class="text-center text-muted font-italic">Mehr Erfolg: Indem Swipe4Jobs Arbeitgeber und Arbeitnehmer gezielt zusammenführt, erhöhen wir Ihre Chancen, den perfekten Job zu finden. </p>
            <p class="text-center text-muted font-italic">Unsere Plattform ermöglicht es Ihnen, sich auf die Stellen zu konzentrieren, die wirklich zu Ihnen passen, </p>
            <p class="text-center text-muted font-italic">und somit Ihre berufliche Entwicklung voranzutreiben.</p>
            
            <p class="text-center text-muted font-italic">Bereit, Ihre Karriere auf die nächste Stufe zu heben? 
            <p class="text-center text-muted font-italic">Melden Sie sich noch heute bei Swipe4Jobs an und entdecken Sie eine Welt voller Möglichkeiten - </p>
            <p class="text-center text-muted font-italic">einfach, effizient und genau auf Sie zugeschnitten!</p>
      </div>
      <footer class="footer pt-md-3 pb-md-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mt-3 text-center">© Marcus Scherdel</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/jquery-3.7.1.js"></script>
    <script src="/nav.js"></script>
    <script src="https://kit.fontawesome.com/aedcf8330f.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.min.css"></script>
    
    
  </body>
</html>