<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="index.css" />
    
    <title>registration</title>
  </head>
  <body>
    <div id="page" class=""><!-- mobile-nav-opened -->
      <nav class="mobile-nav list-group">
        <a class="mobile-nav-link list-group-item list-group-item-action" href="index.hbs">Home</a>
        <a class="mobile-nav-link list-group-item list-group-item-action" href="howto.hbs">How To?</a>
        <a class="mobile-nav-link list-group-item list-group-item-action" href="aboutus.hbs">Über&nbsp;uns</a>
        <a class="mobile-nav-link list-group-item list-group-item-action" href="contact.hbs">Kontakt</a>
      </nav>
      <header class="page-header">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand"></a>
            <button id="toggle-mobile-nav" class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="index.hbs">Home</a>
                <a class="nav-item nav-link" href="howto.hbs">How To?</a>
                <a class="nav-item nav-link" href="aboutus.hbs">Über&nbsp;uns</a>
                <a class="nav-item nav-link" href="contact.hbs">Kontakt</a>
              </div>
            </div>
          </nav>
          <div class="jumbotron header-jumbotron text-center d-flex flex-column justify-content-center align-items-center">
            <h2 class="display-6"></h2>
            <h1 class="display-5"></h1>
            
          </div>
        </div>
      </header>


<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 500px;">
	<h4 class="card-title mt-3 text-center">Registration</h4>
	<p class="text-center">Starten Sie in die Zukunft der Job-Suche</p>
	<p class="divider-text">
        <span class="bg-light">Willkommen</span>
    </p>
	<form action="/registration" method="POST">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" class="form-control" placeholder="Ihr Name" type="text" required >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" class="form-control" placeholder="Email Adresse" type="email" required >
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select name="pretelefon" class="custom-select" style="max-width: 120px;">
		    <option selected="">+49</option>
		    <option value="1">+43</option>
		    <option value="2">+41</option>
		</select>
    	<input name="telefon" class="form-control" placeholder="Telefon" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-solid fa-house-user"></i> </span>
		 </div>
        <input name="location" class="form-control" placeholder="Wohnort" type="text" required>
    </div>
    <!-- form-group// --> 
        <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control" name="userOption" required>
      <optgroup label="Sie Suchen Arbeit">
			<option selected="">Arbeitssuchend</option>
			<option>Ausbildungssuchend/Duales Studium</option>
      <option>Praktikum/Trainee/Werkstudent</option>
			<option>Ich bin offen für Angebote</option>
      <option>Freelancer</option>
      </optgroup>
      <optgroup label="Sie Suchen Mitarbeiter">
      <option>Arbeitgeber</option>
      <option>Auftraggeber</option>
      </optgroup>
		</select>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Erstellen Sie ihr Passwort" type="password" name="password">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Wiederholen Sie ihr Passwort" type="password" name="password2">
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 15px;">Account Erstellen</button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="login.hbs">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 


      <footer class="footer pt-md-3 pb-md-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mt-3 text-center">© Marcus Scherdel</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://kit.fontawesome.com/aedcf8330f.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.min.css"></script>
    <script src="/jquery-3.7.1.js"></script>
    <script src="/nav.js"></script> 
  </body>
</html>