<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- CSS-Datei einfügen -->
</head>
<body>
    {{> header}} <!-- Hier wird der Header eingebunden -->
    {{> home}}   <!-- Hier wird der Hauptinhalt eingebunden -->
    {{> footer}}  <!-- Hier wird der Footer eingebunden -->
</body>
</html>
